.filters_btn {
    position: relative;
    display: grid;
    grid-template-columns: 28px max-content;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 700;
}

.dots {
    position: absolute;
    top: 3px;
    left: 18px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--orange);
}

.menu {
    width: 28px;
    height: 28px;
    transition: 1s ease-in-out;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.filters_container {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 50px;
    background: #373b44;
    border: 2px solid var(--white);
    position: absolute;
    top: 200px;
    padding: 20px;
    left: 0;
    width: calc(100vw - 18px);
    z-index: 3;
}

.brands_container {
    display: grid;
    gap: 20px;
    width: 430px;
}

.brands {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
        p {
            transition: 0.2s ease-in-out;
            &:hover {
                color: var(--orange);
                transform: scale(1.05);
            }
        }
}

.active {
    color: var(--orange);
}

.filter {
    font-size: 20px;
    font-weight: 700;
}

.search {
    height: 32px;
    width: 300px;
    background: rgba(255,255,255,0.3);
    border-radius: 4px;
    text-align: left;
    z-index: 3;
    font-size: 16px;
    color: rgba(255,255,255,0.8);
    padding: 10px 30px;
    margin: 20px 0;
    box-shadow: none;
    border: none;
    outline: none;
        &::placeholder {
            visibility: visible;
            color: var(--white);
            opacity: 0.5;
        }
        &:focus::placeholder {
            visibility: hidden;
            transition: 0.3s;
            transform: scale(0);
        }
        &:hover {
            cursor: pointer;
        }
}

.clear_btn {
    border: 2px solid var(--white);
    width: max-content;
    margin: 50px 0 20px;
    padding: 5px 10px;
    border-radius: 4px;
        &:hover {
            cursor: pointer;
        }
}

.close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 3;
    color: var(--white);
    font-size: 1.5rem;
        &:hover {
            cursor: pointer;
        }
}